.side-main
 .side-top
  .side-top__box
   .side-top__box__name<masa
   .side-top__box__icon
    .side-top__box__icon__new
     = link_to "#" , class: "group" do
      = icon("fas", "edit")
    .side-top__box__icon__edit
     = link_to "#" , class: "user" do
      = icon("fas", "cog")

 .side-contents
  .side-content
   .group-name<techcamp
   .group-message<まだメッセージはありません
  .side-content
   .group-name<techcamp
   .group-message<まだメッセージはありません
  .side-content
   .group-name<techcamp
   .group-message<まだメッセージはありません
  .side-content
   .group-name<techcamp
   .group-message<まだメッセージはありません
  .side-content
   .group-name<techcamp
   .group-message<まだメッセージはありません
  .side-content
   .group-name<techcamp
   .group-message<まだメッセージはありません
  .side-content
   .group-name<techcamp
   .group-message<まだメッセージはありません
  .side-content
   .group-name<techcamp
   .group-message<まだメッセージはありません