%div.side-main
 %div.side-top
  %div.side-top__box
   %p.side-top__box__name<masa
   %ul.side-top__box__icon
    %li.side-top__box__icon__new
     = link_to "#" , class: "group" do
      = icon("fas", "edit")
    %li.side-top__box__icon__edit
     = link_to "#" , class: "user" do
      = icon("fas", "cog")
      
 %div.side-contents
  %div.side-content
   %p.group-name<techcamp
   %p.group-message<まだメッセージはありません
  %div.side-content
   %p.group-name<techcamp
   %p.group-message<まだメッセージはありません
  %div.side-content
   %p.group-name<techcamp
   %p.group-message<まだメッセージはありません