* {
  box-sizing: border-box;
}
$white: white;
$light-blue: #38aef0;
$gray: #434a54;
$full: 100%;
$short: 20px;
$center: center;
$forty: 40px;
$very-short: 10px;

.side-main{
  float: left;
  width: 300px;
  background-color: $white;
  font-weight: bold;
  .side-top{
    height: 100px;
    background-color: #253141;
    display: flex;
    padding: 0 $short;
    align-items: $center;
  }
}
.side-top__box{
  display: flex;
  justify-content: space-between;
  width: $full;
  align-items: $center;
  height: $short;
  .side-top__box__name{
    height: $full;
    width: 200px;
    color: $white;
  }
  .side-top__box__icon{
    height: $full;
    display: flex;
    line-height: $short;
    text-align: right;
    .side-top__box__icon__new{
      width: 18px;
      height: 18x;
      .group{
        color: $white;
      }
    }
    .side-top__box__icon__edit{
      width: 18px;
      height: 18px;
      padding-left: 5px;
      .user{
        color: $white;
      }
    }
  }
}

.side-contents{
  overflow: scroll;
  padding: $short $short 0;
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  color: $white;
  .side-content{
    margin-bottom: $forty;
    .group-name{
      font-size: 15px;
      margin-bottom: 5px;
    }
    .group-message{
      font-size: 11px;
    }
  }
}


.contents{
  width: calc(100vw - 300px);
  float: left;
        }
  .messages{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 46px $forty;
    overflow: scroll;
    .message{
      padding-bottom: $forty;
      .text{
        color: $gray;
        font-size: 14px;
        margin-bottom: $very-short;
      }
      .info{
        display: flex;
        margin-bottom: $very-short;
        .talker{
          color: $gray;
          font-size: 16px;
          font-weight: bold;
        }
        .date{
          color: #999999;
          font-size: 12px;
          margin-left: $very-short;
        }
      }
    }
  }
  .contents-top{
    height: 100px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    overflow: scroll;
    padding: 0 $forty;
    .edit{
      text-decoration: none;
      color: $light-blue;
      .edit-btn{
        height: $forty;
        line-height: $forty;
        padding: 0 $short;
        margin-top: 28px;
        left: $forty;
        border: solid 1px $light-blue;
      }
    }
    .left-box{
      margin-top: 35px;
      .member-list{
        font-size: 12px;
        color: #999999;
      }
      .current-group{
        font-size: $short;
        color: #333333;
        margin-bottom: 15px;
      }
    }
  }


.form{
  height: 90px;
  background-color: #d2d2d2;
  padding: 20px $forty;
  .new-message{
    display: flex;
    height: 50px;
    .box{
      position: relative;
      width: 80%;
      
      .text{
        height: 50px;
        width: $full;
        padding: 0 $forty 0 $very-short;
        color: $gray;
        border-style: none;
        }
      }
    }
  }

.image{
  position: absolute;
  top: $very-short;
  right: $very-short;
  font-size: 1.3rem;
  cursor: pointer;
}
  
.file{
  display: none;
}

.submit-btn{
  width: 100px;
  height: 50px;
  padding: 0 20px ;
  margin-left: 15px;
  background-color: $light-blue;
  color: $white;
  cursor: pointer;
  text-align: $center;
}